.above>div:nth-child(1) {
    background-color: #4f5962;
    padding: 20px 30px 15px;
}

.above>div:nth-child(1)>h2 {
    font-size: 28px;
    color: #ffffff;
}

.above>div:nth-child(2),
.bottom {
    padding: 20px 30px;
}

.pricesAreas {
    margin-bottom: 17px;
    display: flex;
}

.pricesAreas>div:nth-child(1) {
    margin-right: 10px;
}

.pricesAreas>div:nth-child(1),
.pricesAreas>div:nth-child(2) {
    flex-basis: 50%;
    font-size: 15px;
    border: 1px solid #d8dce1;
    border-radius: 5px;
    padding: 7px;
}

.name,
.phone,
.bottom>div:nth-child(1) {
    padding: 7px;
    margin-bottom: 17px;
    border: 1px solid #d8dce1;
    border-radius: 5px;
}

.above>div:nth-child(2)>div:last-child {
    font-size: 12px;
    text-align: center;
}

.listIcons {
    background-color: rgba(148, 156, 165, 0.12);
    text-align: center;
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.icons {
    padding: 15px;
    transition: all 0.2s ease-out 0s;
    position: relative;
    /* color: #ffffff; */
    z-index: 100;
}

.icons::before {
    content: "222222";
    /* position: absolute;
    width: 100%;
    height: 100%;
    left: 49%;
    top: 49%;
    transform: translate(-50%, -50%); */
    /* border-radius: 50%; */
    /* background: red; */
    /* opacity: 0.5; */
}

.icons:hover::before {
    width: 100%;
    height: 100%;
    background-color: #7c99d8;
    border-radius: 50%;
    opacity: 0.5;
    /* color: #ffffff; */
}

.icons:hover {
    color: #ffffff;
    z-index: 1000;
}