* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: wheat;
}

#list-container {
    margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: white;
    padding: 30px;
}

#add-new-listing {
    padding-bottom: 40px;
}

#amenity {
    padding-bottom: 20px;
}

.category {
    display: flex;
    padding-bottom: 15px;
}

.category-name {
    font-weight: 700;
    min-width: 20%;
}

.to-complete {
    margin-right: 30px;
}

.to-complete > label {
    font-weight: 700;
    color: rgba(36, 36, 36, 0.733);
    padding-bottom: 6px;
}

.to-complete > input,
.to-complete > select,
.to-complete > textarea {
    width: 250px;
    height: 40px;
    padding-left: 5px ;
    font-size: 15px;
    font-weight: 600;
    color: rgba(29, 28, 28, 0.733);
    border-radius: 2px;
    border: 1px solid #ced4da;
}

.to-complete > input,
.to-complete > select,
.to-complete > textarea {
    outline: 1px solid 1px;
    outline-color: rgba(247, 126, 186, 0.425);
}

.to-complete > * {
    display: block;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.7;
}

#continue-button {
    min-width: 15%;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: #dc3545;
    font-size: 17px;
    color: white;
    font-weight: 700;
    margin-top: 10px;

}

#continue-button:hover {
    background-color: #f0384a;
    cursor: pointer;
}

#continue-button:focus {
    outline: none;
}
