* {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0;
    text-transform: none;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.cmt1 {
    display: flex;
    justify-content: center;
}

.content>div,
.star {
    display: flex;
}

.content>div:nth-child(2) {
    align-items: center;
}

.container {
    padding: 40px;
}

.container>div>h2 {
    margin-bottom: 30px;
}

.content strong {
    margin-right: 15px;
    font-size: 17px;
}

.content p {
    margin-top: 20px;
}